*{
    margin: 0;
    padding: 0;
}
.top-bar{
    background: #3a1c81;
    color: white;
  padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;   
display: flex;
justify-content: space-between;

}
.phone{
    font-size: 13px;
}
.location{
    font-size:15px;
}
.header{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    align-items: center;
}
.head{
    color: rgb(38, 38, 38);
}
nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    
}
nav a{
    text-decoration: none;
    color: rgb(50, 49, 49);

}
nav a:hover{
    color: #623abf;
}
.btn{
    background-color: #3a1c81;
    color: white;
    border: 1px solid #3a1c81;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section{
    background-color: #3a1c81;
    color: white;
    padding: 100px;
    text-align: center;
}
.years{
    
  background: white;
  color: #4b0fbf;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;

}
.indust{
    border: 1px solid white;
    border-radius: 3px;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: #3a1c81;
    margin-top: 5px;
     margin-bottom: 20px;
    
}
.consultancy{
    border: 1px solid white;
    background-color: white;
    color: #3a1c81;
    padding: 10px 20px;
}
.call{
    border: 1px solid #f7f7f8;
    background-color: #ddd8eb;
    color:#3a1c81;
    padding: 10px 20px;
    margin-left: 20px;
}
.btnn{
    margin-top: 20px;
}
.spec{
    margin-top: 20px;
    font-size: 25px;
}
.your{
    font-size: 40px;
    margin-top: 20px;
   
}
.exp{ display: flex;
  justify-content: space-around;
  background-color: #ddd8eb;
  padding: 40px 10px;
  text-align: center;
  color:  #3a1c81;
    }   
    .stat-box{
        gap: 100px;
        margin-top: 50px;
        font-weight: bolder;
    }
    .stat{
        color: #f7f7f8;
    }
    .our{
        text-align: center;
        margin-top: 80px;
    }
    .ourr{
    background-color: #3a1c81;
      color: white;
      padding: 6px 14px;
      border-radius: 20px;
      font-size: 14px;
    }
    .comp{
        margin-top: 20px;
        font-size: 35px;
    }
    .from{
        margin-top: 20px;
        font-size: 20px;
        color: rgb(100, 100, 100);
    }
    .features{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
    }
    .feature-card{
        border: 2px solid rgb(233, 234, 249);
        background-color: #ddd8eb;
        height: 200px;
        width: 500px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .comprehensive{
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        color: rgb(100, 100, 100);
        padding: 10px;
    }
    .icon{
        font-size: 15px;
        color: #323232;
        margin-top: 0px;
    }
        .View{
            background-color: #3a1c81;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
           
        }

#contact{
    margin-top: 20px;
    border: 1px solid #ddd8eb;
    text-align: center;
    background-color: #ddd8eb;
    width: 100%;
    height: 250px;
    padding-top: 50px;
        }
        .all{
            text-align: center;
            margin-bottom: 50px;
        }
        .Government{
            background-color: #ddd8eb;
            text-align: center;
            border: none;
            border-radius: 5px;
            padding-top: 60px;
            padding-bottom: 20px;
            font-size: 16px;
            cursor: pointer;
        }
.scheme-card{
    border: 2px solid rgb(233, 234, 249);
    background-color: rgb(233, 234, 249) ;
height: 100px;
width: 300px;
border-radius: 10px ;
margin-top: 20px;}

.why{
    background-color: #f8f6fc;
    padding: 100px;
    text-align: center;
}
.foot{
    background-color: #3a1c81;
    padding-top: 50px;
    color: white;
    text-align: center;
}
.consult{
    margin-top: 20px;
    background-color: #fff;
    color: #3a1c81;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
        footer{
            background-color: #3a1c81;
            color: white;
            text-align: center;
            padding: 20px;
        }