*{
    margin: 0;
    padding: 0;
}
.top-bar{
    background: #3a1c81;
    color: white;
  padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;   
display: flex;
justify-content: space-between;

}
.phone{
    font-size: 13px;
}
.location{
    font-size:15px;
}
.header{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
    align-items: center;
}
.head{
    color: rgb(38, 38, 38);
}
nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    
}
nav a{
    text-decoration: none;
    color: rgb(50, 49, 49);

}
nav a:hover{
    color: #623abf;
}
.btn{
    background-color: #3a1c81;
    color: white;
    border: 1px solid #3a1c81;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section{
    background-color: #3a1c81;
    color: white;
}
.years{
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px ;
    background: white;
    color: rgb(39, 38, 38);
    padding: 3px;
}
.indust{
    border: 1px solid white;
    border-radius: 3px;
    padding-top:5px ;
    padding-bottom:5px ;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: #3a1c81;
    
}
.consultancy{
    border: 1px solid white;
    background-color: white;
}